# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
number = 6

print(number)

6

##### Assinging float

In [ ]:
numberFloat = 2.3
print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
num1 = 2
num2 = 5.3
result = num1 + num2

print(result)

7.3

##### Subtraction

In [ ]:
result_diff = num1 - num2
print(result_diff)

result_diff -= 1
print(result_diff)

-3.3
-4.3

##### Multiplication

In [ ]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.6
21.2

##### Division

In [ ]:
result_div = num2/num1 
print(result_div)

result_div /= 3
print(result_div)

##### Floor Division

In [ ]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [ ]:
result_mod = 10 % 4
print(result_mod)
# prints out the remainder

2

##### Exponential

In [ ]:
square = 6 ** 2
print(square)

square **= 2
print(square)

36
1296

### String Input-Output

##### String Assignment

In [ ]:
name = 'Jonny'
print(name)

Jonny

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
print('this is my name:', name)

print('Full Name:', name,  end=' Rubio')

this is my name: Jonny
Full Name: Jonny Rubio

##### String Concatenation

In [ ]:
first_name = 'Logan'
last_name ='Wilson'

full_name = first_name + " " + last_name
print(full_name)
full_name += ' Sr'
print(full_name)

Logan Wilson
Logan Wilson Sr

##### Type Conversion

In [ ]:
number = '19'
change_type_num = int(number)
print(number)
print(change_type_num + 2)

19
21

##### input()

In [ ]:
# Input will always return a string

# name = input('What is your name? ')
# print('Nice to meet you ' + name)

age = int(input('What is your age? '))
add_age = age + 4
print(add_age)

What is your age? 15
19

##### format()

In [ ]:
age = input('What is your age? ')
result_string = 'You are {} {} and you are getting wiser'.format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 50
You are 50 Jonny and you are getting wiser
50 is a great time in life!!!

##### Old Way (python 2)

In [ ]:
result_string2 = "You are %s and you look great for your age" %age
print(result_string2)

You are 50 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
name = input('What is your name? ')
color = input('What is the color of your car? ')
year = input('What year is your car? ')
model = input('what model is your car? ')
results = f"{name}, your {year} {model}'s color is {color}"
print(results)

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 8
num2 = 74837493

# if num1 == num2:
#     print('I like apples!!')
    
# else:
#     print('I hate apples!!)
          

if num2 > num1:
          print('No way jose')
elif num1 > num2:
          print('Applesauce')
else:
          print('Bien')

No way jose

##### 'is' keyword

In [ ]:
# The 'is' keyword is for checking for the same object but not the same value.
num4 = 18

if num4 is 18:
    print('I HATE the Dolphins!!')

##### 'in' keyword

In [ ]:
# will check if a character is in a string
char_name = 'yoyo poyo'

if 'yoyo' in char_name:
    print('I want a monkey')

I want a monkey

##### 'not in' keyword'

In [ ]:
Mar_char = 'Spider-man'

if 'z' not in Mar_char:
    print('Pazookie')

Pazookie

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [8]:
my_variable = input('What is your input')

if 'p' in my_variable: 
    print('p is in here')
else: 
    print('p is not here')

p is not here

## Using 'and'/'or' with If Statements

In [12]:
num_11 = 12
num_12 = 4
num_13 = 7
num_14 = 2

# if with 'and' statment

# if num_11 / 3 == num_12 and num_13 - 5 == num_14:
#     print('Go patriots')


if num_12 * 3 == num_11 or num_14 + 10 == num_13:
    print('Doggy')

Doggy

### Elif Statements

In [16]:
first_name = input('what is your name')

if first_name == 'john':
    print('my name is john')

elif first_name == 'Jonathan':
    print('my name is jonathan')

elif first_name != 'Jax':
    print('My name is NOT jax')

else:
    print('The name is Jax')

The name is Jax

### Else Statements

In [17]:
# see above
num_15 = 13 
num_16 = 5

if num_15 < num_16:
    print('Num_15 is guge')
else:
    print('Num_16 is huge')

Num_16 is huge

### For Loops

In [19]:
# syntax:
# for keyword, counter in keyword, condition

name = 'Jonathan Rubio'

for letter in name:
    print(letter)

7
8
9
10

##### Using 'in' keyword

In [3]:
# see above

##### Continue Statement

In [4]:
# will continue to next iteration

In [ ]:
name = 'Jonathan Rubio'
for i in name:
    if i == 'a':
        continue
    print(i)

##### Break Statement

In [5]:
# will break out of current loop

In [26]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [6]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [ ]:
for i in range(5):
    for j in range(5):
        print('i=', i, 'j=', j)

### While Loops

In [ ]:
# syntax:
# while keyword, condition statement 
num = 0

while num < 10:
    print(num)
    num += 1

##### Looping 'While True'

In [1]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input =='Yes':
        game_over == False
        break

##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print('\n while loop iteration:' + str(num))

    for i in range(2):
        print('for loop iteration', str(i))

### Built-In Functions

##### range()

In [2]:
# range(start, stop, and step)

for i in range(5,20,4):
    print(i)

5
9
13
17

##### len()

In [4]:
thing = input('What do you have planned today? ')

length = len(thing)
print(length)

21

##### help()

In [ ]:
# use this function to learn for details of a python function
help(len)

##### isinstance()

In [9]:
# check a variable to find out what object family (or data type) it belongs to 
# syntax: isinstance(var, type)

num = input('pick a number ')

if isinstance(int(num), int):
    print(f'{num} is a int')
else: 
    print(f'{num} is a float')

12 is a int

##### abs()

In [10]:
# /-5/ = 5

print(abs(-18))

18

### Try and Except

In [12]:
# use this to log out of graceful and useful error messages
# Does not stop the progam! 

try: 
    number_test = 0
    input_num = int(input('guess a number '))
    if input_num != input_num + number_test:
        input_num = input_num + number_test
        print('your number is:' + str(input_num))

except: 
    print('that didnt work! change your input to a number')

### Lists

##### Declaring Lists

In [13]:
list_1 = []

names = ['peter', 'miles' , 'mj', 'harry', 'Kraven']

print(names)

['peter', 'miles', 'mj', 'harry', 'Kraven']

##### Indexing a List

In [ ]:
# [start: stop: step:]

# single index
print(names[2])

# print from index 1 going to the end
print(names[1:])

# print start at the begining of a list up until a number
print(names[:2])

# print starting at index one until 2
print(names[1::2])

# print starting at the back and reverse order
print(names[::-1])

##### .append()

In [23]:
names.append('Venom')
print(names)

['peter', 'miles', 'mj', 'harry', 'Kraven', 'Venom', 'Venom']

##### .insert()

In [ ]:
names.insert(3, 'Li')
print(names)

##### .pop()

In [ ]:
# defualts to the last value if no peramiters are given
# pop returns the element you remove in case you want to assign it ro a variable 

my_name = names.pop(3)
print(my_name)
print(names)


##### .remove()

In [29]:
# value to be removed rather than index
# names.remove('mj')
# print(names)

# remove multiple venoms from name
while 'Venom' in names: 
    names.remove('Venom')
print(names)

['peter', 'miles', 'harry']

##### del()

In [30]:
# goes by index rather than value
# becareful with del, it can cause indexing erros if not used carefully

del(names[1])
print(names)

['peter', 'harry']

##### Concatenating Two Lists

In [36]:
# will apend two lists together, will NOT add the values

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]
large_list = list_2 + list_3 

print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# Lists can hold ANY type of element! Including other lists 
# They can go as deep as you want, this is called nested lists

names_2 = ['Mac', 'Parker', 'Zeke', ['Judon', 'Gonzalez', 'Dugger']]
print(names_2)

print(names_2[3][1])

##### Looping Through Lists

In [ ]:
# two ways to loop through a list; one is by index, the other  is by using the 'in' keyword 

# by index
for i in range(len(names_2)):
    print(names_2[i])

# loop with 'in'
for i in names_2:
    print(i)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
for i in range(11):
    if i == 1000:
        break
    print(i * i * i)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


start = int(input('starting number: '))
end = int(input('end number: '))

for num in range(start, end+1):
    if num>1:
        for i in range(2,num):
            if (num % i) == 0 :
                break
            else:
                print(num)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [69]:
age = int(input('What is your age? '))

if age in range(18):
    print('kids')

elif age in range(18,65):
    print('adults')

else:
    print('seniors')

seniors